*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'PoppinsRegular';
    src: url("./font/Poppins/Poppins-Regular.ttf") format(truetype);
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsMedium';
    src: url('./font/Poppins/Poppins-Medium.ttf') format(truetype);
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('./font/Poppins/Poppins-SemiBold.ttf') format(truetype);
    font-display: swap;
}
@font-face {
    font-family: 'PoppinsBold';
    src: url('./font/Poppins/Poppins-Bold.ttf') format(truetype);
    font-display: swap;
}
:root {
    --Red: hsl(0, 100%, 74%);
    --Green: hsl(154, 59%, 51%);

    --Blue: hsl(248, 32%, 49%);

    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}
body {
    -webkit-font-smoothing: antialiased;
    inline-size: 1.5;
    min-height: 100vh;
    font-size: 1rem;
    font-family: PoppinsRegular;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('./images/bg-intro-desktop.png');
    background-color: hsl(0, 100%, 74%);
}

.area {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;

    .area-content {
        width: 500px;
        color: hsl(0, 0%, 100%);
        display: flex;
        flex-direction: column;
        gap: 30px;

        .title {
            font-family: PoppinsBold;
            font-size: 49px;
            line-height: 55px;
        }
    }

    .area-input {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .price {
            width: 500px;
            color: hsl(0, 0%, 100%);
            background-color: hsl(248, 32%, 49%);
            padding: 20px 50px;
            border-radius: 10px;
            box-shadow: 0 7px 1px hsl(0, 62%, 63%);

            .days {
                font-family: PoppinsBold;
            }
        }

        .input {
            width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: hsl(0, 0%, 100%);
            padding: 40px;
            border-radius: 10px;
            gap: 20px;
            box-shadow: 0 10px 1px hsl(3, 55%, 63%);

            .box {
                display: flex;
                flex-direction: column;
                /* align-items: center; */
                justify-content: center;
                position: relative;
                
                input {
                    font-family: PoppinsSemiBold;
                    width: 420px;
                    height: 55px;
                    padding: 0 30px;
                    border-radius: 5px;
                    border: 1px solid hsl(0, 0%, 87%);
                    outline-color: hsl(249, 15%, 42%);
                    
                }
                input.error {
                    border: 2px solid hsl(3, 55%, 63%);
                    color: hsl(3, 55%, 63%);
                }
                ::placeholder {
                    font-family: PoppinsSemiBold;
                    font-size: 14px;
                }

                .icon {
                    display: none;
                    img {
                        display: flex;
                        position: absolute;
                        right: 25px;
                        top: 37%;
                        transform: translateY(-50%);
                    }
                }
                .icon.active {
                    display: block;
                }

                .error-message {
                    display: none;
                    font-size: 11px;
                    color: var(--Red);
                    margin-top: 5px;
                    text-align: end;
                    font-family: PoppinsMedium;
                    font-style: italic;
                }
                .error-message.active {
                    display: block;
                }
            }
            .box.error input {
                border: 1px solid var(--Red);
            }

            button {
                width: 420px;
                height: 55px;
                border-radius: 10px;
                border: 0;
                background-color: hsl(154, 59%, 51%);
                color: hsl(0, 0%, 100%);
                text-transform: uppercase;
                font-family: PoppinsMedium;
                font-size: 16px;
                box-shadow: 0 4px 1px hsl(153, 49%, 47%);
                cursor: pointer;
            }
            button:hover {
                background-color: hsl(154, 65%, 68%);
                color: hsl(0, 0%, 100%);
                box-shadow: 0 4px 1px hsl(153, 49%, 61%);
            }

            .direction {
                font-size: 10px;
                color: hsl(246, 25%, 77%);

                .highlight {
                    color: hsl(3, 55%, 63%);
                    font-family: PoppinsBold;
                }
            }
        }
    }
}
.attribution {
    position: absolute;
    font-size: 11px;
    text-align: center;
    bottom: 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}